In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('finanzas-hotel-bookings.csv', index_col=0)

C:\Users\salsi\AppData\Local\Temp\ipykernel_25488\1112367269.py:1: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('finanzas-hotel-bookings.csv', index_col=0)

In [3]:
df.duplicated().sum()

63040

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df.isnull().sum()/df.shape[0]*100

hotel                              1.528743
is_canceled                        1.528743
lead_time                          1.445297
arrival_date_year                 46.574931
arrival_date_month                 1.528743
arrival_date_week_number          16.831196
arrival_date_day_of_month          1.628045
stays_in_weekend_nights            1.445297
stays_in_week_nights               1.445297
adults                             1.505378
children                          42.916628
babies                             1.502875
meal                               1.528743
country                           46.384673
market_segment                    50.566186
distribution_channel              12.765673
is_repeated_guest                  5.711091
previous_cancellations            37.273129
previous_bookings_not_canceled     1.528743
reserved_room_type                34.746364
assigned_room_type                 1.528743
booking_changes                    1.511219
agent                             15.005382
company                           96.788137
days_in_waiting_list               1.528743
customer_type                     22.468019
adr                                1.528743
required_car_parking_spaces        1.528743
total_of_special_requests          1.528743
reservation_status                 1.528743
reservation_status_date           12.254145
0                                 98.563048
dtype: float64

In [6]:
df.shape

(119837, 32)

In [7]:
df.drop(['0','company'],axis=1,inplace=True)

In [8]:
columnas=df.columns.tolist()

In [9]:
df.shape

(119837, 30)

In [10]:
for columna in columnas:
# Suponiendo que 'variable' es la columna que quieres comprobar
    columna_a_verificar = columna
    # Obtener el conjunto de columnas sin incluir la columna a verificar
    columnas_sin_variable = df.columns.difference([columna_a_verificar])
    # Eliminar las filas donde solo la columna 'variable' tiene informaci√≥n
    df = df.dropna(subset=columnas_sin_variable, how='all')

In [11]:
df = df.dropna(subset='is_canceled')

In [12]:
df.shape

(118005, 30)

In [13]:
for columna in columnas:
    print(f'La columna {columna} tiene un {round(df[columna].isnull().sum()/df.shape[0]*100,2)}% de nulos')
    display(df[columna].value_counts())
    print('--------------')

La columna hotel tiene un 0.0% de nulos

hotel
City Hotel      78066
Resort Hotel    39939
Name: count, dtype: int64

--------------
La columna is_canceled tiene un 0.0% de nulos

is_canceled
False    74883
True     43122
Name: count, dtype: int64

--------------
La columna lead_time tiene un 0.0% de nulos

lead_time
0.0      6341
1.0      3451
2.0      2069
3.0      1815
4.0      1715
         ...
370.0       1
709.0       1
424.0       1
737.0       1
463.0       1
Name: count, Length: 479, dtype: int64

--------------
La columna arrival_date_year tiene un 45.75% de nulos

arrival_date_year
2016.0    30461
2017.0    21868
2015.0    11694
Name: count, dtype: int64

--------------
La columna arrival_date_month tiene un 0.0% de nulos

arrival_date_month
August       13751
July         12556
May          11637
October      10984
April        10955
June         10789
September    10338
December      6707
November      6660
March         5886
February      4841
3             3861
January       3558
2             3140
1             2342
Name: count, dtype: int64

--------------
La columna arrival_date_week_number tiene un 15.54% de nulos

arrival_date_week_number
33.0    3009
30.0    2576
34.0    2564
32.0    2550
18.0    2477
28.0    2383
21.0    2368
17.0    2315
20.0    2311
29.0    2306
31.0    2292
42.0    2269
41.0    2241
27.0    2226
15.0    2205
35.0    2196
38.0    2194
25.0    2182
23.0    2178
39.0    2163
22.0    2123
24.0    2087
19.0    2023
16.0    2023
13.0    2015
40.0    1998
26.0    1986
43.0    1969
14.0    1898
44.0    1887
8.0     1828
37.0    1820
36.0    1810
7.0     1789
10.0    1787
12.0    1755
11.0    1750
9.0     1743
45.0    1606
53.0    1538
49.0    1461
47.0    1437
48.0    1284
6.0     1282
46.0    1275
4.0     1255
50.0    1231
5.0     1176
3.0     1112
2.0     1019
52.0     992
1.0      894
51.0     809
Name: count, dtype: int64

--------------
La columna arrival_date_day_of_month tiene un 0.1% de nulos

arrival_date_day_of_month
17.0    4323
5.0     4256
15.0    4122
25.0    4102
26.0    4066
12.0    4049
9.0     4046
16.0    4023
2.0     4020
19.0    3999
20.0    3996
18.0    3947
24.0    3934
28.0    3894
8.0     3852
3.0     3807
30.0    3803
6.0     3789
27.0    3766
14.0    3759
21.0    3714
4.0     3714
13.0    3700
23.0    3590
11.0    3588
7.0     3586
22.0    3574
1.0     3572
29.0    3562
10.0    3542
31.0    2191
Name: count, dtype: int64

--------------
La columna stays_in_weekend_nights tiene un 0.0% de nulos

stays_in_weekend_nights
0.0     51138
2.0     33101
1.0     30310
4.0      1854
3.0      1258
6.0       153
5.0        79
8.0        60
7.0        19
9.0        11
10.0        7
12.0        5
13.0        3
16.0        3
14.0        2
18.0        1
19.0        1
Name: count, dtype: int64

--------------
La columna stays_in_week_nights tiene un 0.0% de nulos

stays_in_week_nights
2.0     33018
1.0     30049
3.0     21936
5.0     11056
4.0      9510
0.0      7585
6.0      1498
10.0     1036
7.0      1029
8.0       655
9.0       231
15.0       85
11.0       56
19.0       44
12.0       42
20.0       41
14.0       35
13.0       27
16.0       16
21.0       15
22.0        7
25.0        6
18.0        6
30.0        5
17.0        4
24.0        3
40.0        2
33.0        1
42.0        1
50.0        1
32.0        1
26.0        1
34.0        1
35.0        1
41.0        1
Name: count, dtype: int64

--------------
La columna adults tiene un 0.0% de nulos

adults
2.0     81060
1.0     20807
3.0      5714
59.0     1035
54.0     1025
51.0     1011
58.0     1005
50.0      999
57.0      998
53.0      984
56.0      975
55.0      959
52.0      936
0.0       369
4.0        53
19.0       13
14.0       10
12.0        7
10.0        7
11.0        6
15.0        5
26.0        5
18.0        5
16.0        5
13.0        4
27.0        2
5.0         2
20.0        2
6.0         1
17.0        1
Name: count, dtype: int64

--------------
La columna children tiene un 42.05% de nulos

children
0.0     63332
1.0      2797
2.0      2138
3.0        45
18.0       12
14.0       12
10.0        9
11.0        8
15.0        7
17.0        5
13.0        5
16.0        5
19.0        3
12.0        3
Name: count, dtype: int64

--------------
La columna babies tiene un 0.0% de nulos

babies
0.0     117029
1.0        900
2.0         15
16.0        11
12.0        11
10.0        11
19.0         7
18.0         5
15.0         4
11.0         4
17.0         3
13.0         3
9.0          1
14.0         1
Name: count, dtype: int64

--------------
La columna meal tiene un 0.0% de nulos

meal
BB           91207
HB           14229
SC           10641
Undefined     1148
FB             780
Name: count, dtype: int64

--------------
La columna country tiene un 45.55% de nulos

country
PRT    25903
GBR     6570
FRA     5745
ESP     4697
DEU     3928
       ...
LIE        1
NIC        1
GGY        1
FJI        1
UMI        1
Name: count, Length: 163, dtype: int64

--------------
La columna market_segment tiene un 49.8% de nulos

market_segment
Online TA        28313
Offline TA/TO    11833
Groups            9626
Direct            6351
Corporate         2635
Complementary      363
Aviation           118
Undefined            1
Name: count, dtype: int64

--------------
La columna distribution_channel tiene un 11.41% de nulos

distribution_channel
TA/TO        85534
Direct       12960
Corporate     5864
GDS            176
Undefined        5
Name: count, dtype: int64

--------------
La columna is_repeated_guest tiene un 4.25% de nulos

is_repeated_guest
0.0    109363
1.0      3630
Name: count, dtype: int64

--------------
La columna previous_cancellations tiene un 36.32% de nulos

previous_cancellations
0.0     71134
1.0      3664
2.0        76
3.0        40
11.0       34
24.0       32
4.0        20
19.0       19
13.0       17
14.0       16
25.0       16
26.0       16
5.0        14
6.0        12
17.0        7
12.0        7
18.0        6
16.0        5
10.0        5
15.0        5
21.0        1
Name: count, dtype: int64

--------------
La columna previous_bookings_not_canceled tiene un 0.0% de nulos

previous_bookings_not_canceled
0.0     114385
1.0       1542
2.0        580
3.0        333
4.0        229
         ...
47.0         1
49.0         1
50.0         1
51.0         1
72.0         1
Name: count, Length: 73, dtype: int64

--------------
La columna reserved_room_type tiene un 33.73% de nulos

reserved_room_type
A    56144
D    12619
E     4344
F     1907
G     1375
B      746
C      625
H      428
P        6
L        4
Name: count, dtype: int64

--------------
La columna assigned_room_type tiene un 0.0% de nulos

assigned_room_type
A    72716
D    25280
E     7803
F     3750
G     2553
C     2374
B     2162
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64

--------------
La columna booking_changes tiene un 0.0% de nulos

booking_changes
0.0     99905
1.0     12660
2.0      3798
3.0       927
4.0       376
5.0       118
6.0        63
7.0        31
8.0        17
10.0       15
17.0       14
15.0       12
11.0       11
16.0       10
12.0       10
13.0       10
14.0        8
9.0         8
19.0        6
18.0        4
20.0        1
21.0        1
Name: count, dtype: int64

--------------
La columna agent tiene un 13.69% de nulos

agent
9.0      31937
240.0    13916
1.0       6900
14.0      3639
7.0       3539
         ...
289.0        1
432.0        1
265.0        1
93.0         1
304.0        1
Name: count, Length: 333, dtype: int64

--------------
La columna days_in_waiting_list tiene un 0.0% de nulos

days_in_waiting_list
0.0      114452
39.0        209
58.0        152
44.0        137
31.0        111
          ...
116.0         1
109.0         1
37.0          1
89.0          1
36.0          1
Name: count, Length: 128, dtype: int64

--------------
La columna customer_type tiene un 21.26% de nulos

customer_type
Transient          69800
Transient-Party    19406
Contract            3246
Group                460
Name: count, dtype: int64

--------------
La columna adr tiene un 0.0% de nulos

adr
62.00     3566
75.00     2626
90.00     2404
65.00     2383
0.00      1957
          ...
89.43        1
63.07        1
55.69        1
49.51        1
157.71       1
Name: count, Length: 8879, dtype: int64

--------------
La columna required_car_parking_spaces tiene un 0.0% de nulos

required_car_parking_spaces
0.0    110589
1.0      7383
2.0        28
3.0         3
8.0         2
Name: count, dtype: int64

--------------
La columna total_of_special_requests tiene un 0.0% de nulos

total_of_special_requests
0.0    69033
1.0    33136
2.0    12961
3.0     2495
4.0      340
5.0       40
Name: count, dtype: int64

--------------
La columna reservation_status tiene un 0.0% de nulos

reservation_status
Check-Out    74883
Canceled     41918
No-Show       1204
Name: count, dtype: int64

--------------
La columna reservation_status_date tiene un 10.9% de nulos

reservation_status_date
2015-10-21 00:00:00    1232
2015-07-06 00:00:00     667
2016-11-25 00:00:00     651
2015-01-01 00:00:00     638
2016-01-18 00:00:00     518
                       ...
2015-02-09 00:00:00       1
2015-03-29 00:00:00       1
2024-09-31                1
2015-03-13 00:00:00       1
2027-09-31                1
Name: count, Length: 976, dtype: int64

--------------

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118005 entries, 0 to 119389
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118005 non-null  object
 1   is_canceled                     118005 non-null  object
 2   lead_time                       118005 non-null  float64
 3   arrival_date_year               64023 non-null   float64
 4   arrival_date_month              118005 non-null  object
 5   arrival_date_week_number        99667 non-null   float64
 6   arrival_date_day_of_month       117886 non-null  float64
 7   stays_in_weekend_nights         118005 non-null  float64
 8   stays_in_week_nights            118005 non-null  float64
 9   adults                          118005 non-null  float64
 10  children                        68381 non-null   float64
 11  babies                          118005 non-null  float64
 12  meal                            118005 non-null  object
 13  country                         64251 non-null   object
 14  market_segment                  59240 non-null   object
 15  distribution_channel            104539 non-null  object
 16  is_repeated_guest               112993 non-null  float64
 17  previous_cancellations          75146 non-null   float64
 18  previous_bookings_not_canceled  118005 non-null  float64
 19  reserved_room_type              78198 non-null   object
 20  assigned_room_type              118005 non-null  object
 21  booking_changes                 118005 non-null  float64
 22  agent                           101855 non-null  float64
 23  days_in_waiting_list            118005 non-null  float64
 24  customer_type                   92912 non-null   object
 25  adr                             118005 non-null  float64
 26  required_car_parking_spaces     118005 non-null  float64
 27  total_of_special_requests       118005 non-null  float64
 28  reservation_status              118005 non-null  object
 29  reservation_status_date         105137 non-null  object
dtypes: float64(18), object(12)
memory usage: 27.9+ MB